* {
    box-sizing: border-box;
}

html {
    background-color: #393c41;
    margin: auto;
    width: 70%;
    height: 100%;
}

body {
    background-color: #51555c;
    display: flex;
    flex-flow: column;
    height: 100%;
}

main {
    padding: 5px;
    flex: 1 1 auto;
}

.navbar {
    background-color: rgb(73, 73, 73);
    font-weight: 700;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    list-style: none;
}

.navbar li a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 10px;
}

.navbar li a:hover {
    background-color: darkgray;
    color: blue;
}